@font-face{
    font-family: "KaushanScript-regular";
    src: url("/assets/fonts/KaushanScript-Regular.ttf");
    font-weight: 500;
}

/* Div widths */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    display: inline-block;
    position: relative;
}
/* For tablets: */
@media only screen and (min-width: 600px) {
    [class*="col-"]{
        display: inline-block;
        position: relative;
    };
    .col-s-1 {width: calc(98% / 12);}
    .col-s-2 {width: calc(98% / 6);}
    .col-s-3 {width: calc(98% / 4);}
    .col-s-4 {width: calc(98% / 3);}
    .col-s-5 {width: calc(98% / 12 * 5);}
    .col-s-6 {width: calc(98% / 2);}
    .col-s-7 {width: calc(98% / 12 * 7);}
    .col-s-8 {width: calc(98% / 12 * 8);}
    .col-s-9 {width: calc(98% / 12 * 9);}
    .col-s-10 {width: calc(98% / 12 * 10);}
    .col-s-11 {width: calc(98% / 12 * 11);}
    .col-s-12 {width: 98%;}
}
/* For desktop: */
@media only screen and (min-width: 768px) {
    [class*="col-"]{
        display: inline-block;
        position: relative;
    };
    .col-1 {width: calc(98% / 12);}
    .col-2 {width: calc(98% / 6);}
    .col-3 {width: calc(98% / 4);}
    .col-4 {width: calc(98% / 3);}
    .col-5 {width: calc(98% / 12 * 5);}
    .col-6 {width: calc(98% / 2);}
    .col-7 {width: calc(98% / 12 * 7);}
    .col-8 {width: calc(98% / 12 * 8);}
    .col-9 {width: calc(98% / 12 * 9);}
    .col-10 {width: calc(98% / 12 * 10);}
    .col-11 {width: calc(98% / 12 * 11);}
    .col-12 {width: 98%;}
}

html{
    background-image: url(/assets/images/stone-tile.jpg);
    font-family: "KaushanScript-regular";
}

header {
    height: 4em;
}

body{
    margin: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: block;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #aaaaaa;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav li:hover {
    background-color: #888888;
}
@media only screen and (min-width: 600px) {
    .nav li {
        display: inline-block;
    }
}

.benchtop {
    background-image: url(/assets/images/benchtop-1024x637.jpg);
    padding-bottom: 3%;
}

/* Articles in equal height columns */

.EqHeightRow {
    display: flex;
    width: 100%;
}

.EqHeightCell {
    flex: 1;
    padding: 2%;
    margin: 2%;
}

@media only screen and (max-width: 768px) {
    .EqHeightRow{
        display: table;
        width: 100%;
    }
    .EqHeightCell {
        display: block;
        width: 92%;
        /* padding: 16px; */
    }
}

.OnPaper {
    background-image: url(/assets/images/old-paper.jpg);
}
.article {
    margin-top: 3%;
    padding:0.1% 3% 0.1% 3%;
    text-align: justify;
}

.polaroid-container {
    margin: 3% 0 0 0;
    padding: 0;
}

.polaroid {
    width: 94.9%;
    margin: auto;
    background-color: white;
    box-shadow: 3px 3px 7px black;
}

.gallery-img {
    width: 100%;
}

.legends {
    height: 3em;
    position: relative;
}

.legends p {
    position: absolute;
    margin: 0;
}

.img {
    width: 80%;
    padding: 5% 0 0 10%;
}

.form {
    display: block;
    padding: 0.3% 1%;
}

.footer {
    margin-top: 2%;
    margin-bottom: 1%;
    padding-top: auto;
    text-align: center;
}

span {
    font-weight: bolder;
}